{% extends 'index_main.html' %}
{% block title %} Login_page {% endblock title%}
{% load static %}

{% block body_content %}
    <div id="mine">
            <div id="div_wrapper" class="shadow-sm" style="height: auto;">
                <h2 class="text-center mb-3">Sign In</h2>
                <h3 class="text-center mb-5">Luxury Hotel</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {% load bootstrap %}
                    {{form|bootstrap}}
                    <div class="mb-4">
                        <input type="submit" class="form-control bg-primary loginbutton" value="Login" aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <div class="text-center">
                        <p>Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
                        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>

{% endblock body_content %}