
/** ADD YOUR AWESOME CODES HERE **/

#button1 {
    padding: 15px 40px; 
	background: #28a9e2; 
    border: none;
    transition: all 0.5s;
    border-radius: 5px;
}

#button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
}

#button1:hover span {
    padding-right: 25px;
}

#button1:hover {
    background: #28a9e2;
}

#button1:hover span:after {
    opacity: 1;
    right: 0;
}

#div_wrapper {
    background-color: #e6e6e6;
    top: 50%;
    /* position: absolute; */
    width: 400px;
    left: 30%;
    padding: 50px;
    margin: 80px auto;
    border-radius: 10px;
    /* border: 1px solid red; */
}

#mine {
    background:linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('../images/home2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* #form_1 {
    padding: 12px 20px;
    box-sizing: border-box;
} */

#div_wrapper input {
    padding: 12px 20px;
    box-sizing: border-box;
}
  
/* .dropdown {
    position: relative;
    display: inline-block;
} */
  
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #448AFF;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 8px 10px 16px;
    /* margin: 100px; */
    color: white;
    font-size: 18px;
    /* width: 100%; */
}

#table {margin-left: 130px;}

.sidenav a:hover {
    background-color: #3C3D41;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {float: left;}
    #table {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}
    

.booking {
    border: 1px solid #ededed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f5;
    padding: 40px 30px;
}

.booking .form-control {
    background-color: #333333;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #bcbcbc;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    box-shadow: none !important;
    width: 100%;
	border-radius: 0px;
}

.booking textarea {
    color: #bcbcbc;
    padding: 20px 25px !important;
    height: 160px !important;
}

.booking .form-control::-webkit-input-placeholder {
    color: #bcbcbc;
}

.booking .form-control::-moz-placeholder {
    opacity: 1;
    color: #bcbcbc;
}

.booking .form-control::-ms-input-placeholder {
    color: #bcbcbc;
}

#contact {
    background: url(images/1.jpg) no-repeat center center #ffffff;
}

.booking textarea.form-control{
	min-height: 225px;
}

.form-group{
	position: relative;
}

#room_key {
    position: absolute;
    
}

:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}



.header {
    background-color: #327a81;
    color: white;
    font-size: 30px;
    padding: 1rem;
    text-align: center;
}
  
#staff_img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
  
.table-users {
    /* border: 1px solid #327a81; */
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    /* max-width: calc(100% - 2em); */
    margin: 1em auto;
    overflow: hidden;
    /* width: 800px; */
}
  
table {
    width: 100%;
}
  
table td, table th {
    color: black;
    padding: 10px;
}
  
table td {
    text-align: center;
    vertical-align: middle;
}
  
table td:last-child {
    font-size: 0.95em;
    /* line-height: 1.4; */
    text-align: left;
}
  
table th {
    background-color: #daeff1;
    font-weight: 300;
}
  
table tr:nth-child(2n) {
    background-color: white;
}
  
table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}
  
@media screen and (max-width: 700px) {
    table, tr, td {
      display: block;
    }
    td:first-child {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100px;
    }
    td:not(:first-child) {
      clear: both;
      margin-left: 100px;
      padding: 4px 20px 4px 90px;
      position: relative;
      text-align: left;
    }
    td:not(:first-child):before {
      color: #91ced4;
      content: '';
      display: block;
      left: 0;
      position: absolute;
    }
    td:nth-child(2):before {
      content: 'Name:';
    }
    td:nth-child(3):before {
      content: 'Email:';
    }
    td:nth-child(4):before {
      content: 'Phone:';
    }
    td:nth-child(5):before {
      content: 'Comments:';
    }
    tr {
      padding: 10px 0;
      position: relative;
    }
    tr:first-child {
      display: none;
    }
}
  
@media screen and (max-width: 500px) {
    .header {
      background-color: transparent;
      color: white;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
    img {
      border: 3px solid;
      border-color: #daeff1;
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
    }
    td:first-child {
      background-color: #c8e7ea;
      border-bottom: 1px solid #91ced4;
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: 100%;
    }
    td:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;
    }
    td:not(:first-child):before {
      font-size: .8em;
      padding-top: 0.3em;
      position: relative;
    }
    td:last-child {
      padding-bottom: 1rem !important;
    }
    tr {
      background-color: white !important;
      border: 1px solid #6cbec6;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
    }
    .table-users {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      overflow: visible;
    }
}