{% extends 'index_main.html' %}
{% block title %} Booking {% endblock title%}
{% load static %}

{% block nav_item_booking %}active{% endblock nav_item_booking %}
{% block body_content %}
<div class="container" style="margin-top: 100px;">
    <div class="section-title text-center">
        <h3>Booking System</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, ratione similique</p>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6 mb-5">
            <h3>Enter your details here and let's get a room Reserved for you.</h3>
            <h3>
                {% if messages %}
				{% for message in messages %}
					{{message}}
				{% endfor %}
			    {% endif %}
            </h3>
            
            <form action="" method="post" class="mt-4" enctype="multipart/form-data">
                <div class="booking">
                    {% csrf_token %}    
                    {% load bootstrap %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.first_name}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.last_name}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.mail}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.phone_number}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.potential_check_in}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.potential_check_out}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.number_of_adult}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{book_form.number_of_children}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{book_form.rooms}}
                                        <p class="help-block text-danger"></p>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{book_form.comment_given}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="room_key">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{book_form.room_key}}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center mt-5">
								<button id="sendMessageButton" class="sim-btn hvr-bounce-to-top btn-block" type="submit">Book Now</button>
							</div>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>
{% endblock body_content %}