{% extends 'index_main.html' %}
{% block title%} Rooms Form {% endblock title%}

{% block body_content %}
<div id="mine">
    <div class="cont" id="div_wrapper" style="height: auto;">
            
        <div class="row">
            <div class="way col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12">
                <form action="" method="post" class="mt-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load bootstrap %}
                    {{room_form}}
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Update" class="btn bg-white bc-white mt-2 ml-2 loginbutton">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock body_content %}
