{% extends 'main_staff.html' %}
{% block title %} Staff Page {% endblock title %}
{% load static %}
{% block staff %}active{% endblock staff %}

{% block body_content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <div class="table-users">
                    <div class="header">Staffs</div>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Picture</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Status</th>
                            <th>Profile</th>
                        </tr>
                        {% if staff %}

                        {% for staff in staff %}
                        <tr>
                            <td>
                                {{staff.id}}
                            </td>
                            <td>
                                {% if staff.profile_passport %}
                                <img src="{{staff.profile_passport.url}}" id="staff_img" alt="" width="60px" height="60px" class="rounded-circle">
                                {% else %}
                                <i class="fas fa-user fa-lag fa-fw text-dark me-2"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{staff.user.username}}
                            </td>
                            <td>
                                {{staff.user.first_name}}
                            </td>
                            <td>
                                {{staff.user.last_name}}
                            </td>
                            <td>
                                {{staff.position}}
                            </td>
                            <td>
                                {{staff.status}}
                            </td>
                            <td>
                                <a href="{% url 'staff_profile' staff.user_id %}">
                                    <span>Profile</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% endif %} 
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}